<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<head>
    <title>Script And Tell</title>
    <link rel="stylesheet" th:href="@{/css/style-mobile.css}">
    <link rel="stylesheet" th:href="@{/css/style-laptop.css}">
</head>
<body>
<div class="phone-frame">
    <div class="screen" style="align-items: center">
        <div class="chat-box">
            <img alt="avatar" src="/videos/demo-splashscreen.gif"/>
            <a th:href="@{/stories}"><button type="button" class="btn">Continue</button></a>
        </div>
    </div>
</div>
</body>
</html>